<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <!--<sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>-->
    </sectionGroup>
  </configSections>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <identity impersonate="true"/>
    <authentication mode="Forms"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="aspdrop" namespace="Saplin.Controls" assembly="DropDownCheckBoxes"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="Login" value="~/Modules/Login.aspx"/>
    <add key="LogFile" value="~/App_Data/Log/"/>
    <add key="SOAPXMLLogFile" value="~/App_Data/SOAPXMLLog/"/>
    <add key="PostBackURL" value="~/Modules/frmMain.aspx"/>
    <add key="Data" value="~/Files/"/>
    <add key="SapUser" value="BCIL.COMM"/>
    <add key="SapPass" value="k+9N7Q:bp*"/>
    <add key="ADLOGIN" value="ON"/>
    <add key="ReportPath" value="~/"/>
    <add key="Dispen_postData_MovementType" value="261"/>
    <add key="ManNo_MovementType" value="101"/>
    <add key="GM_CODE" value="01"/>
    <add key="WebReference.z_ws_po_details" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/z_ws_po_details/001/z_ws_po_details/z_ws_po_details"/>
    <add key="WS_ManNo_new.zws_migo_final" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/zws_migo_final/001/zws_migo_final/zws_migo_final"/>
    <add key="WS_BinMaster.z_ws_update_bin" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/z_ws_update_bin/001/z_ws_update_bin/z_ws_update_bin"/>
    <add key="MRN_WS.z_ws_mrn" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/z_ws_mrn/001/z_ws_mrn/z_ws_mrn"/>
    <add key="WsDispen_PO.z_ws_process_order_string" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/z_ws_process_0rder_string/001/z_ws_process_order_string/z_ws_process_order_string"/>
    <add key="WsDispen_RS.z_ws_reservation_string" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/z_ws_reservation_string/001/z_ws_reservation_string/z_ws_reservation_string"/>
    <add key="WS_ManNo.z_ws_zdmf002" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/z_ws_zdmf002/001/z_ws_zdmf002/z_ws_zdmf002"/>
    <add key="STO_Post.z_ws_migo_post" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/z_ws_migo_post/001/z_ws_migo_post/z_ws_migo_post"/>
    <add key="STO_Delivery.Z_WS_OUTBOUND_DELIVRY" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/z_ws_outbound_delivry/001/z_ws_outbound_delivry/z_ws_outbound_delivry"/>
    <add key="ADV_POST.ZWS_ZDF002_GRN" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/zws_zdf002_grn/001/zws_zdf002_grn/zws_zdf002_grn"/>
  <add key="STO_OUT_DELIVERY.Z_WS_OUTBOUND_DELIVRY" value="http://sapi23ms.sapms.fresenius.de:8057/sap/bc/srt/rfc/sap/z_ws_outbound_delivry/001/z_ws_outbound_delivry/z_ws_outbound_delivry"/>
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="strLocal" connectionString="SERVER=DESKTOP-PBDLD2A;DATABASE=F_KABI;USER ID=sa;PASSWORD=barcode@123"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <!--<businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>-->
</configuration>